/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.border-1{
  /* border: 0 0 5px 0 solid gray; */
  border: 5px solid gray;
 /* padding: 7px; */
   /* margin: 10px; */
  }
  .grid {
    display: table;
    border-spacing: 5px
  }
  .row {
    display: table-row
  }
  .cell {
    width: 50px;
    height: 50px;
    background: grey;
    display: table-cell;
  }
  /* .row div:last-child {
    background: red
  } */
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.fade{
  opacity: 10%;
}